{% extends "base.html" %}
{% block content %}
<div class="row mt-5">
<h1 class="mt-5 mx-auto text-center js--fashion" style="border-bottom: 3px solid #6d4c41;text-align:center;">Products</h1>
</div>

<div class="row justify-content-center">
  {% for obj in object_list %}
  <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 my-4">
    {% include "products/snippets/card.html" with instance=obj %}
    {% if forloop.counter|divisibleby:3 %}
  </div></div><div class="row justify-content-center"><div class="col-12"><hr style="height: 1px;background-color: #a1887f;border: none;"></div>
  {% else %}
</div>
{% endif %}

{% endfor %}
<hr>
</div>

{% endblock %}
