{% load static %}
<!--mdb file -->
<!--
<link rel="stylesheet" href="{% static "vendor/css/mdb.lite.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/css/mdb.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/css/style.css" %}">
-->
<!--favicon -->

<link rel="apple-touch-icon" sizes="180x180" href="{% static "resources/favicons" %}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "resources/favicons" %}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "resources/favicons" %}/favicon-16x16.png">
<link rel="manifest" href="{% static "resources/favicons" %}/site.webmanifest">
<link rel="mask-icon" href="{% static "resources/favicons" %}/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="{% static "resources/favicons" %}/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{% static " resources/favicons" %}/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!--bootstrap file -->
<link rel="stylesheet" href="{% static "vendor/css/bootstrap-reboot.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/css/bootstrap-grid.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/css/bootstrap.min.css" %}">


<!--ionicons file -->
<link rel="stylesheet" href="{% static "vendor/css/ionicons.min.css" %}">
<!--font awsome file -->
<link rel="stylesheet" href="{% static "vendor/css/all.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/css/brands.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/css/fontawesome.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/css/regular.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/css/solid.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/css/svg-with-js.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/css/v4-shims.min.css" %}">


<!--normalize file -->
<link rel="stylesheet" href="{% static "vendor/css/normalize.css" %}">

<link rel='stylesheet' href="{% static "resources/css/main.css" %}">
<!--00jquery confirm -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<!--animate confirm -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
