{% load static %}

<div class="container-fluid  mb-0 pb-0" style="background-image:linear-gradient(#9a8478,#1e130c);">
  <div class="row mt-5">

    <div class="container mt-5">

  <!-- Social buttons -->
  <ul class="list-inline social-button text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1" add target="_blank" href="https://www.facebook.com/Shumona-Fashion-Trends-111924873966345/?eid=ARDUHY7DSJmjnhkOLkxZ-sOd--0DD50EBNymw30wEs0NcL2e3-8VsSA7yjBPtIZXBueTOuzUvkMC04gg">
        <span style="font-size:2.5em;">
        <i class="fab fa-facebook-f"> </i></span>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <span style="font-size:2.5em;">
        <i class="fab fa-twitter"> </i>
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1 "add target="_blank" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=pshumona@gmail.com">
        <span style="font-size:2.5em;">
        <i class="fab fa-google-plus-g"> </i>
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1" add target="_blank" href="https://wa.me/+919821312140">
        <span style="font-size:2.5em;">
        <i class="fab fa-whatsapp"></i> </i>
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1" add target="_blank" href="https://www.instagram.com/shumonatrends/">
        <span style="font-size:2.5em;">
        <i class="fab fa-instagram" > </i>
        </span>
      </a>
    </li>
  </ul>

  <!-- Social buttons -->

</div>

  </div>

  <div class="row mt-0" >
<h1 class="text-white-50 mx-auto">Shumona Trends.</h1>
  </div>
  <hr style="background-color:#fff;">
  <div class="row">
    <div class="mx-auto">

      <h6 class="text-white ">© 2020 Copyright: Shumona Trends.</h6>
    </div>

  </div>
</div>
